/* styles.css */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color: slategray;
  
}

div {
  border: white;
  border-width: 1px;
  border-style: dashed;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-size: auto;
  padding: 20px;
  background-image: url(bckgrnd.jpg);
  
}

.nav img {
  width: 150px;
}

.nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav ul li a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
  padding: 10px 20px;
  border-radius: 20px;
  transition: all 0.2s ease-in-out;
}

.nav ul li a:hover {
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

.form-inline {
  display: flex;
}

.form-inline .form-group {
  margin-right: 20px;
}

.form-inline .form-control {
  width: 200px;
}

.form-inline .btn {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 20px;
}

.header {
  background-image: url(bckgrnd.jpg);
  background-size: cover;
}

.header .container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.about, .work, .resume, .Video, .contact {
  padding: 20px;
  text-align: center;
}

.about h1, .work h1, .resume h1, .Video h1, .contact h1 {
  text-align: center;
}

.resume table {
  width: 80%;
  margin: 10px;
}

.resume th, .resume td {
  padding: 10px;
  text-align: center;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: azure;
}
