body {
    background-image:url(bckgrnd.jpg) ;
    background-size: cover;
    background-position: center;
}
nav{ border: 2px solid red; border-radius: 25px;width: fit-content; background-color: firebrick;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10;
    padding-right: 10%;
    margin-left: 26%;

}
.logo {
    color: azure;
    font-size: 28px;

}
span{
    color: rgba(4, 229, 195, 0.726);
}
nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}
nav ul li a {
    color: aliceblue;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
}
nav ul li a:hover{
    color: rgb(26, 186, 178);
    transition: .3s;
}

.tab {
    font-size: 0.7cm;
    min-width: 500px;
    margin-left: 90px;
    margin-top: 50px;
    margin-bottom: 50px;
}
 .tab tr th {
background-color: rgb(33, 176, 142);
color: aliceblue;
text-align: center;
 }
 .tab tr td {
    padding: 12px 15px;
    border-bottom: 1px solid rgb(235, 239, 247);
    color: gray;
    font-weight: bold;
 }
 .about{
    border: 2px solid red; border-radius: 25px;width: fit-content; background-color: firebrick;
    color: azure;
    margin-left: 47%;
    text-align: center;
 }
 .work{ border: 2px solid red; border-radius: 25px;width: fit-content; background-color: firebrick;
    color: azure;
    margin-left: 29%;
    text-align: center;
    transform-style:flat
 }
 .resume{ border: 2px solid red; border-radius: 25px;width: fit-content; background-color: firebrick;
    color: azure;
    margin-left: 42%;
    text-align: center;
 }
 .Video{ border: 2px solid red; border-radius: 25px;width: fit-content; background-color: firebrick;
    color: azure;
    text-align: center;
    margin-left: 30%;
    transform-style:flat
 }
 .contact{ border: 2px solid red; border-radius: 25px;width: fit-content; background-color: firebrick;  margin-left: 27%;
    color: azure;
    text-align: center;
    transform-style:flat
 }
.table{
    margin-left: 45%;
}
